body {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(214, 219, 226, 1) 100%
  );
}

.Simon {
  font-family: "Press Start 2P", cursive;
  margin-bottom: 0px;
  color: #af941d;
}

#level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 40px;
  padding: 20px;
  margin-bottom: 0px;
  color: #fef2bf;
  background: -webkit-linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: crimson;
}

.score {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #af941d;
  margin-bottom: 0px;
}
p {
  padding-top: 30px;
  font-size: 1.2rem;
  font-family: "Times New Roman", Times, serif;
  word-spacing: 0.5rem;
  font-weight: 800;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  max-width: 550px;
}

.btn {
  margin: 1.5 rem auto;
  padding: 0.5rem;
  height: 200px;
  width: 200px;
  border: 0.325rem solid black;
  border-radius: 30%;
}

.game-over {
  background: rgb(115, 43, 43);
  background: radial-gradient(
    circle,
    rgba(115, 43, 43, 1) 0%,
    rgba(255, 0, 0, 1) 34%
  );
}

.red {
  background-color: #f2f2f2;
}

.aqua {
  background-color:darkcyan;
}

.blue {
  background-color: rgb(229, 255, 0);
}

.green {
  background-color:green;
}

.pressed {
  box-shadow: 0 0 1.25rem rgb(7, 7, 7);
  background-color: white;
}
